# **파이썬데이터분석[02]**
* 2차 과제

**16조 - 202104263 윤혜정 202104277 이성민**

2023년도 축제 혼잡도 예상

**1차 주제/데이터** 

-> 지역축제 개최에 따른 서울시 공영주차장 혼잡도를 바탕으로 2023년도 지역축제 개최 계획에 맞춰 축제 혼잡도 예상

(2022년도 지역축제 개최 현황 & 2023년도 지역축제 개최 계획 & 서울시설공단_공영주차장 일별 주차현황)

**2차 주제/데이터**

-> 2022년도 지역축제 개최에 따른 서울시 전철역 이용객수를 바탕으로 2023년도에 개최될 서울시 축제 혼잡도 예상

(2022년도 지역축제 개최 현황 & 2023년도 지역축제 개최 계획 & 2022 서울교통공사 역/일/시간대별 승하차 인원 정보)

**데이터 변경 이유**

지역축제 개최시, 축제 방문객들 대다수가 주차장을 사용하는 자가용보다 대중교통을 사용할 것이라고 예상함으로 공영주차장 주차 현황보다 전철역 승하차 인원을 분석하는 것이 더 적합하다고 판단했음.

기본적인 분석

사용할 csv파일 분석&파악

In [43]:
import pandas as pd
import numpy as np

In [44]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [47]:
festival = pd.read_csv('/content/drive/MyDrive/python/festival2022.csv', encoding='cp949')
festival

,2022년 지역축제 개최 계획,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,연번,광역\n단체명,기초\n단체명,축제명,축제유형,개최기간,개최장소,개최방식,최초\n개최년도,예산(백만원),...,NaN,방문객수(前년),NaN,전담조직(축제사무국),NaN,NaN,국비지원\n부처명,담당자,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,국비,...,합계,내국인,외국인,전담조직명,조직형태,설립근거,NaN,성명,연락처,NaN
4,1,서울,본청,2022 서울빛초롱축제,문화예술,11.4.~20.(예정),종로구,오프라인,2009,0,...,700,"51,433",NaN,서울관광재단,재단법인,NaN,서울특별시,유가은,02-3788-0845,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
943,940,제주,서귀포시,2022 중문칠선녀축제,주민화합,10월 중,중문천제연폭포 일원,대면,1995년,0,...,100,0,0,-,-,NaN,NaN,김대응,064-760-4824,NaN
944,941,제주,제주시,2022 봉개 오름축제,생태자연,10월 중,봉개동 제주4.3평화공원 맞은편,대면,2009년,0,...,40,"1,000명",0,봉개동축제추진위원회,임의조직,NaN,NaN,이명기,064-728-4741,NaN
945,942,제주,제주시,제9회 삼도풍류축제,전통역사,10월 중,관덕정 및 목관아지 일대,대면,2012년,0,...,20,860명,96명,삼도2동주민센터\n삼도풍류축제추진위원회,위원회,NaN,NaN,이주명,064-728-4562,NaN
946,943,제주,본청,제21회 최남단 방어축제,특산물,11월 중,모슬포항 일원,대면,2002년,0,...,143,"15,000명",100명,최남단방어축제위원회,위원회,NaN,NaN,김지현,064-710-3243,NaN
947,944,제주,제주시,제12회 백난아가요제,문화예술,미정,미정,대면,NaN,0,...,35,49명,0,제주시 한림읍,지방자치단체,NaN,NaN,양승호,064-728-7613,NaN

In [48]:
festival.dtypes

2022년 지역축제 개최 계획     object
Unnamed: 1           object
Unnamed: 2           object
Unnamed: 3           object
Unnamed: 4           object
Unnamed: 5           object
Unnamed: 6           object
Unnamed: 7           object
Unnamed: 8           object
Unnamed: 9           object
Unnamed: 10          object
Unnamed: 11          object
Unnamed: 12          object
Unnamed: 13          object
Unnamed: 14          object
Unnamed: 15          object
Unnamed: 16          object
Unnamed: 17          object
Unnamed: 18          object
Unnamed: 19          object
Unnamed: 20          object
Unnamed: 21         float64
dtype: object

In [49]:
festival.head(10)

,2022년 지역축제 개최 계획,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,연번,광역\n단체명,기초\n단체명,축제명,축제유형,개최기간,개최장소,개최방식,최초\n개최년도,예산(백만원),...,NaN,방문객수(前년),NaN,전담조직(축제사무국),NaN,NaN,국비지원\n부처명,담당자,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,국비,...,합계,내국인,외국인,전담조직명,조직형태,설립근거,NaN,성명,연락처,NaN
4,1,서울,본청,2022 서울빛초롱축제,문화예술,11.4.~20.(예정),종로구,오프라인,2009,0,...,700,"51,433",NaN,서울관광재단,재단법인,NaN,서울특별시,유가은,02-3788-0845,NaN
5,2,서울,강동구,제27회 강동선사문화축제,문화예술,22. 10. 8.~10.,서울 암사동 유적 일대,혼합형,1996,-,...,617,"10,000",-,강동구,지방자치단체,서울특별시 강동구 선사문화축제에 관한 조례,-,이지용,02-3425-8533,NaN
6,3,서울,강서구,허준축제,문화예술,10.6.~10.9.,"허준근린공원, 허준박물관 일대",대면,1999,0,...,395,"50,000명","1,500명",허준축제추진위원회,임의단체\n(축제추진위원회),없음,NaN,신옥현,02-2600-6455,NaN
7,4,서울,구로구,2022 구로G페스티벌,기타(주민화합),9.30~10.2,안양천일대,혼합형,2003,0,...,800,0,0,구로구 문화관광과,구청,NaN,NaN,정인환,02-860-2060,NaN
8,5,서울,노원구,노원달빛산책,생태자연,10.7.~10.23.,당현천 일원,대면,2014년,NaN,...,131,"731,051명",67명,노원문화재단,재단법인,서울시 노원구 문화재단 설립 및 운영에 관한조례,NaN,남예운,02-860-2060,NaN
9,6,서울,노원구,수제맥주축제,주민화합,9.10.~9.11.,노원불빛정원,대면,2020년,NaN,...,50,-,-,노원문화재단,재단법인,서울시 노원구 문화재단 설립 및 운영에 관한조례,NaN,남예운,02-2116-3776,NaN

In [50]:
new_columns = festival.iloc[2]
festival.columns = new_columns
festival

2,연번,광역\n단체명,기초\n단체명,축제명,축제유형,개최기간,개최장소,개최방식,최초\n개최년도,예산(백만원),...,NaN,방문객수(前년),NaN,전담조직(축제사무국),NaN,NaN,국비지원\n부처명,담당자,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,연번,광역\n단체명,기초\n단체명,축제명,축제유형,개최기간,개최장소,개최방식,최초\n개최년도,예산(백만원),...,NaN,방문객수(前년),NaN,전담조직(축제사무국),NaN,NaN,국비지원\n부처명,담당자,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,국비,...,합계,내국인,외국인,전담조직명,조직형태,설립근거,NaN,성명,연락처,NaN
4,1,서울,본청,2022 서울빛초롱축제,문화예술,11.4.~20.(예정),종로구,오프라인,2009,0,...,700,"51,433",NaN,서울관광재단,재단법인,NaN,서울특별시,유가은,02-3788-0845,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
943,940,제주,서귀포시,2022 중문칠선녀축제,주민화합,10월 중,중문천제연폭포 일원,대면,1995년,0,...,100,0,0,-,-,NaN,NaN,김대응,064-760-4824,NaN
944,941,제주,제주시,2022 봉개 오름축제,생태자연,10월 중,봉개동 제주4.3평화공원 맞은편,대면,2009년,0,...,40,"1,000명",0,봉개동축제추진위원회,임의조직,NaN,NaN,이명기,064-728-4741,NaN
945,942,제주,제주시,제9회 삼도풍류축제,전통역사,10월 중,관덕정 및 목관아지 일대,대면,2012년,0,...,20,860명,96명,삼도2동주민센터\n삼도풍류축제추진위원회,위원회,NaN,NaN,이주명,064-728-4562,NaN
946,943,제주,본청,제21회 최남단 방어축제,특산물,11월 중,모슬포항 일원,대면,2002년,0,...,143,"15,000명",100명,최남단방어축제위원회,위원회,NaN,NaN,김지현,064-710-3243,NaN
947,944,제주,제주시,제12회 백난아가요제,문화예술,미정,미정,대면,NaN,0,...,35,49명,0,제주시 한림읍,지방자치단체,NaN,NaN,양승호,064-728-7613,NaN

In [51]:
new_column_names = {'광역\n단체명': '광역단체명', '기초\n단체명': '기초단체명'}
festival.rename(columns=new_column_names, inplace=True)

In [77]:
#개최지가 서울인 곳만 추출하기

filtered_festival = festival[festival['광역단체명'] == '서울']
filtered_festival

2,연번,광역단체명,기초단체명,축제명,축제유형,개최기간,개최장소,개최방식,최초\n개최년도,예산(백만원),...,NaN,방문객수(前년),NaN,전담조직(축제사무국),NaN,NaN,국비지원\n부처명,담당자,NaN,NaN
4,1,서울,본청,2022 서울빛초롱축제,문화예술,11.4.~20.(예정),종로구,오프라인,2009,0,...,700,"51,433",NaN,서울관광재단,재단법인,NaN,서울특별시,유가은,02-3788-0845,NaN
5,2,서울,강동구,제27회 강동선사문화축제,문화예술,22. 10. 8.~10.,서울 암사동 유적 일대,혼합형,1996,-,...,617,"10,000",-,강동구,지방자치단체,서울특별시 강동구 선사문화축제에 관한 조례,-,이지용,02-3425-8533,NaN
6,3,서울,강서구,허준축제,문화예술,10.6.~10.9.,"허준근린공원, 허준박물관 일대",대면,1999,0,...,395,"50,000명","1,500명",허준축제추진위원회,임의단체\n(축제추진위원회),없음,NaN,신옥현,02-2600-6455,NaN
7,4,서울,구로구,2022 구로G페스티벌,기타(주민화합),9.30~10.2,안양천일대,혼합형,2003,0,...,800,0,0,구로구 문화관광과,구청,NaN,NaN,정인환,02-860-2060,NaN
8,5,서울,노원구,노원달빛산책,생태자연,10.7.~10.23.,당현천 일원,대면,2014년,NaN,...,131,"731,051명",67명,노원문화재단,재단법인,서울시 노원구 문화재단 설립 및 운영에 관한조례,NaN,남예운,02-860-2060,NaN
9,6,서울,노원구,수제맥주축제,주민화합,9.10.~9.11.,노원불빛정원,대면,2020년,NaN,...,50,-,-,노원문화재단,재단법인,서울시 노원구 문화재단 설립 및 운영에 관한조례,NaN,남예운,02-2116-3776,NaN
11,8,서울,서초구,2022 서리풀페스티벌,문화예술,9.19.~9.25.,서초구 전역,ㅇ대면,2015,NaN,...,"1,000",27만(2019년),NaN,서초문화재단,재단법인,서울특별시 서초구 문화재단 설립 및 운영에 관한 조례(2015년),NaN,이민섭,02-2155-6228,NaN
12,9,서울,성동구,태조이성계축제,전통역사,9~10월중(1일),살곶이체육공원,혼합형,1998,NaN,...,84,"3,000명('19년)",NaN,성동문화재단,재단법인,성동문화재단 설립에 관한조례,NaN,전지영,02-2286-5203,NaN
13,10,서울,성동구,응봉산개나리축제,생태자연,3~4월(3일간),응봉산,혼합형,1998,NaN,...,50,"50,000명('19년)",NaN,성동문화재단,재단법인,성동문화재단 설립에 관한조례,NaN,전지영,02-2286-5203,NaN
14,11,서울,성동구,두모포 페스티벌,전통역사,6월 중(미정),왕십리광장,혼합형,2019,NaN,...,120,"5,000명('19년)",NaN,성동문화재단,재단법인,성동문화재단 설립에 관한조례,NaN,이지혜,02-2286-5207,NaN
15,12,서울,성동구,세계민속춤 축제,문화예술,9월 중(미정),왕십리광장,혼합형,2015,NaN,...,24.5,"2,000명('19년)",NaN,성동문화재단,재단법인,성동문화재단 설립에 관한조례,NaN,이지혜,02-2286-5207,NaN
16,13,서울,양천구,해우리 문화축제,"반려 악기, 반려 식물 등의 콘텐츠를 체험하는 반려 문화 축제",9~10월,양천공원,대면,2018,NaN,...,100,"2,000",NaN,양천문화재단,재단법인,서울특별시 양천구 문화재단 설립 및 운영에 관한 조례,NaN,고현일,2620-3404,NaN
17,14,서울,영등포구,제17회 영등포 여의도 봄꽃축제,생태자연,3월말~4월초 중,여의서로 및 한강공원 일대,혼합형,2005,0,...,705,523만명,NaN,영등포구청,지자체,NaN,NaN,전수린,2670-3128,NaN
18,15,서울,용산구,2022 이태원 지구촌 축제,문화예술,10월중,이태원관광특구 일대,대면 / 혼합형,2002년,0,...,315,2020 \n미개최,2020 \n미개최,이태원관광특구연합회,사단법인,-,-,박윤하,02-2199-7254,NaN
19,16,서울,중랑구,2022 서울장미축제,문화예술,5월중,중랑장미공원,혼합형,2015,0,...,600,"1,150,000",0,중랑문화재단,재단법인,서울특별시 중랑문화재단 설립 및 운영에 관한 조례,문체부,김승찬,02-2094-1823,NaN
20,17,서울,중랑구,2022 용마폭포문화예술축제,문화예술,10월중,용마폭포공원,혼합형,2016,0,...,113,"39,000",0,중랑문화재단,재단법인,서울특별시 중랑문화재단 설립 및 운영에 관한 조례,문체부,김승찬,02-2094-1823,NaN
21,18,서울,중랑구,북페스티벌,문화예술,4월/10월중,면목동/망우동,혼합형,2015,0,...,65,"2,000",0,NaN,NaN,NaN,문체부,신건주,02-2094-1834,NaN
22,19,서울,도봉구,도봉과학축제,문화예술,7월 중,도봉구청,대면,2009,NaN,...,111,"60,000",NaN,도봉구청,공공(구),자체추진,NaN,김채안,02-2091-2302,NaN
23,20,서울,도봉구,도봉구 등 축제,문화예술,9월~10월,"방학천,\n우이천",대면,2013,NaN,...,250,"150,000",NaN,도봉구청,공공(구),자체추진,NaN,강영숙,02-2091-2254,NaN
24,21,서울,도봉구,도봉산 페스티벌,문화예술,9.24.~25.,다락원\n체육공원,혼합형,2017,NaN,...,120,"70,021",NaN,도봉문화재단,재단법인,지역문화진흥법,NaN,김민휘,02-908-2914,NaN
25,22,서울,도봉구,도봉서원 선비문화제,전통역사,4.10 / 10.5,도봉서원,대면,1996,NaN,...,17,200,NaN,도봉문화원,법정법인,ㅇ 지방문화원진흥법\nㅇ 서울특별시 지방문화원 설립ㆍ운영\n 등에 관한 조례,NaN,진현우,02-905-4026,NaN
26,23,서울,도봉구,도봉옛길 문화제,문화예술,5월 중,도봉구\n일대,혼합형,2021,NaN,...,50,"5,000",NaN,도봉문화원,법정법인,ㅇ 지방문화원진흥법\nㅇ 서울특별시 지방문화원 설립ㆍ운영\n 등에 관한 조례,NaN,진현우,02-905-4026,NaN
27,24,서울,도봉구,창2동 에코! 벚꽃축제,기타(주민화합),4월 중,창2동\n일대,대면,2013,NaN,...,55,"120,000",NaN,창2동에코\n벚꽃축제\n추진위원회,조직위,ㅇ 지방행정체제 개편에 관한 특별법\nㅇ 서울특별시 도봉구 주민자치회 및\n ...,NaN,이기성,02-2091-5708,NaN

In [86]:
#필요한 데이터만 불러오기

festival2 = filtered_festival[['광역단체명','기초단체명', '개최기간', '축제명', '개최방식','방문객수(前년)']]
print(festival2)

2  광역단체명 기초단체명            개최기간                축제명      개최방식       방문객수(前년)
4     서울    본청   11.4.~20.(예정)       2022 서울빛초롱축제      오프라인         51,433
5     서울   강동구  22. 10. 8.~10.      제27회 강동선사문화축제       혼합형         10,000
6     서울   강서구     10.6.~10.9.               허준축제        대면        50,000명
7     서울   구로구       9.30~10.2       2022 구로G페스티벌       혼합형              0
8     서울   노원구    10.7.~10.23.             노원달빛산책        대면       731,051명
9     서울   노원구     9.10.~9.11.             수제맥주축제        대면              -
11    서울   서초구     9.19.~9.25.       2022 서리풀페스티벌       ㅇ대면     27만(2019년)
12    서울   성동구      9~10월중(1일)            태조이성계축제       혼합형   3,000명('19년)
13    서울   성동구       3~4월(3일간)           응봉산개나리축제       혼합형  50,000명('19년)
14    서울   성동구        6월 중(미정)           두모포 페스티벌       혼합형   5,000명('19년)
15    서울   성동구        9월 중(미정)           세계민속춤 축제       혼합형   2,000명('19년)
16    서울   양천구           9~10월           해우리 문화축제        대면          2,000
17    서울  영등포구       3월말~4월초 중  제17회 영등포 여의도 봄꽃축제       혼합형          523만명
18    서울   용산구            10월중    2022 이태원 지구촌 축제  대면 / 혼합형     2020 \n미개최
19    서울   중랑구             5월중        2022 서울장미축제       혼합형      1,150,000
20    서울   중랑구            10월중    2022 용마폭포문화예술축제       혼합형         39,000
21    서울   중랑구         4월/10월중              북페스티벌       혼합형          2,000
22    서울   도봉구            7월 중             도봉과학축제        대면        60,000
23    서울   도봉구          9월~10월           도봉구 등 축제        대면       150,000
24    서울   도봉구       9.24.~25.           도봉산 페스티벌       혼합형        70,021
25    서울   도봉구     4.10 / 10.5        도봉서원 선비문화제         대면           200
26    서울   도봉구            5월 중           도봉옛길 문화제       혼합형         5,000
27    서울   도봉구            4월 중       창2동 에코! 벚꽃축제        대면       120,000

In [87]:
festival2

2  광역단체명 기초단체명            개최기간                축제명      개최방식       방문객수(前년)
4     서울    본청   11.4.~20.(예정)       2022 서울빛초롱축제      오프라인         51,433
5     서울   강동구  22. 10. 8.~10.      제27회 강동선사문화축제       혼합형         10,000
6     서울   강서구     10.6.~10.9.               허준축제        대면        50,000명
7     서울   구로구       9.30~10.2       2022 구로G페스티벌       혼합형              0
8     서울   노원구    10.7.~10.23.             노원달빛산책        대면       731,051명
9     서울   노원구     9.10.~9.11.             수제맥주축제        대면              -
11    서울   서초구     9.19.~9.25.       2022 서리풀페스티벌       ㅇ대면     27만(2019년)
12    서울   성동구      9~10월중(1일)            태조이성계축제       혼합형   3,000명('19년)
13    서울   성동구       3~4월(3일간)           응봉산개나리축제       혼합형  50,000명('19년)
14    서울   성동구        6월 중(미정)           두모포 페스티벌       혼합형   5,000명('19년)
15    서울   성동구        9월 중(미정)           세계민속춤 축제       혼합형   2,000명('19년)
16    서울   양천구           9~10월           해우리 문화축제        대면          2,000
17    서울  영등포구       3월말~4월초 중  제17회 영등포 여의도 봄꽃축제       혼합형          523만명
18    서울   용산구            10월중    2022 이태원 지구촌 축제  대면 / 혼합형     2020 \n미개최
19    서울   중랑구             5월중        2022 서울장미축제       혼합형      1,150,000
20    서울   중랑구            10월중    2022 용마폭포문화예술축제       혼합형         39,000
21    서울   중랑구         4월/10월중              북페스티벌       혼합형          2,000
22    서울   도봉구            7월 중             도봉과학축제        대면        60,000
23    서울   도봉구          9월~10월           도봉구 등 축제        대면       150,000
24    서울   도봉구       9.24.~25.           도봉산 페스티벌       혼합형        70,021
25    서울   도봉구     4.10 / 10.5        도봉서원 선비문화제         대면           200
26    서울   도봉구            5월 중           도봉옛길 문화제       혼합형         5,000
27    서울   도봉구            4월 중       창2동 에코! 벚꽃축제        대면       120,000

In [88]:
festival3 = festival2[festival2['개최방식'].isin(['대면'])]
print(festival3)

# 서울에서 전체 대면으로 개최한 축제는 총 8개이다.

2  광역단체명 기초단체명          개최기간           축제명 개최방식   방문객수(前년)
6     서울   강서구   10.6.~10.9.          허준축제   대면    50,000명
8     서울   노원구  10.7.~10.23.        노원달빛산책   대면   731,051명
9     서울   노원구   9.10.~9.11.        수제맥주축제   대면          -
16    서울   양천구         9~10월      해우리 문화축제   대면      2,000
22    서울   도봉구          7월 중        도봉과학축제   대면    60,000
23    서울   도봉구        9월~10월      도봉구 등 축제   대면   150,000
25    서울   도봉구   4.10 / 10.5   도봉서원 선비문화제    대면       200
27    서울   도봉구          4월 중  창2동 에코! 벚꽃축제   대면   120,000

In [89]:
#대면 축제 총 8개

cfsv = festival2['개최방식'].value_counts()['대면']
print(cfsv)

8

In [90]:
festival2['방문객수(前년)'] = festival2['방문객수(前년)'].str.replace('만명', '').str.replace(',', '')
# df['방문객수(전년)'] = pd.to_numeric(df['방문객수(전년)'])
festival2

<ipython-input-90-0a71d868cb70>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  festival2['방문객수(前년)'] = festival2['방문객수(前년)'].str.replace('만명', '').str.replace(',', '')

2  광역단체명 기초단체명            개최기간                축제명      개최방식      방문객수(前년)
4     서울    본청   11.4.~20.(예정)       2022 서울빛초롱축제      오프라인         51433
5     서울   강동구  22. 10. 8.~10.      제27회 강동선사문화축제       혼합형         10000
6     서울   강서구     10.6.~10.9.               허준축제        대면        50000명
7     서울   구로구       9.30~10.2       2022 구로G페스티벌       혼합형             0
8     서울   노원구    10.7.~10.23.             노원달빛산책        대면       731051명
9     서울   노원구     9.10.~9.11.             수제맥주축제        대면             -
11    서울   서초구     9.19.~9.25.       2022 서리풀페스티벌       ㅇ대면    27만(2019년)
12    서울   성동구      9~10월중(1일)            태조이성계축제       혼합형   3000명('19년)
13    서울   성동구       3~4월(3일간)           응봉산개나리축제       혼합형  50000명('19년)
14    서울   성동구        6월 중(미정)           두모포 페스티벌       혼합형   5000명('19년)
15    서울   성동구        9월 중(미정)           세계민속춤 축제       혼합형   2000명('19년)
16    서울   양천구           9~10월           해우리 문화축제        대면          2000
17    서울  영등포구       3월말~4월초 중  제17회 영등포 여의도 봄꽃축제       혼합형           523
18    서울   용산구            10월중    2022 이태원 지구촌 축제  대면 / 혼합형    2020 \n미개최
19    서울   중랑구             5월중        2022 서울장미축제       혼합형       1150000
20    서울   중랑구            10월중    2022 용마폭포문화예술축제       혼합형         39000
21    서울   중랑구         4월/10월중              북페스티벌       혼합형          2000
22    서울   도봉구            7월 중             도봉과학축제        대면        60000
23    서울   도봉구          9월~10월           도봉구 등 축제        대면       150000
24    서울   도봉구       9.24.~25.           도봉산 페스티벌       혼합형        70021
25    서울   도봉구     4.10 / 10.5        도봉서원 선비문화제         대면          200
26    서울   도봉구            5월 중           도봉옛길 문화제       혼합형         5000
27    서울   도봉구            4월 중       창2동 에코! 벚꽃축제        대면       120000

In [84]:
# festival2['방문객수(전년)'] = festival2['방문객수(前년)'].str.replace(',', '').str.extract(r'(\d+)').astype(int)

In [91]:
#NaN값은 0으로 처리한 후에 다시 분석

festival2['방문객수(전년)'] = festival2['방문객수(前년)'].str.replace(',', '').str.extract(r'(\d+)').fillna(0).astype(int)
print(festival2)

2  광역단체명 기초단체명            개최기간                축제명      개최방식      방문객수(前년)  \
4     서울    본청   11.4.~20.(예정)       2022 서울빛초롱축제      오프라인         51433
5     서울   강동구  22. 10. 8.~10.      제27회 강동선사문화축제       혼합형         10000
6     서울   강서구     10.6.~10.9.               허준축제        대면        50000명
7     서울   구로구       9.30~10.2       2022 구로G페스티벌       혼합형             0
8     서울   노원구    10.7.~10.23.             노원달빛산책        대면       731051명
9     서울   노원구     9.10.~9.11.             수제맥주축제        대면             -
11    서울   서초구     9.19.~9.25.       2022 서리풀페스티벌       ㅇ대면    27만(2019년)
12    서울   성동구      9~10월중(1일)            태조이성계축제       혼합형   3000명('19년)
13    서울   성동구       3~4월(3일간)           응봉산개나리축제       혼합형  50000명('19년)
14    서울   성동구        6월 중(미정)           두모포 페스티벌       혼합형   5000명('19년)
15    서울   성동구        9월 중(미정)           세계민속춤 축제       혼합형   2000명('19년)
16    서울   양천구           9~10월           해우리 문화축제        대면          2000
17    서울  영등포구       3월말~4월초 중  제17회 영등포 여의도 봄꽃축제       혼합형           523
18    서울   용산구            10월중    2022 이태원 지구촌 축제  대면 / 혼합형    2020 \n미개최
19    서울   중랑구             5월중        2022 서울장미축제       혼합형       1150000
20    서울   중랑구            10월중    2022 용마폭포문화예술축제       혼합형         39000
21    서울   중랑구         4월/10월중              북페스티벌       혼합형          2000
22    서울   도봉구            7월 중             도봉과학축제        대면        60000
23    서울   도봉구          9월~10월           도봉구 등 축제        대면       150000
24    서울   도봉구       9.24.~25.           도봉산 페스티벌       혼합형        70021
25    서울   도봉구     4.10 / 10.5        도봉서원 선비문화제         대면          200
26    서울   도봉구            5월 중           도봉옛길 문화제       혼합형         5000
27    서울   도봉구            4월 중       창2동 에코! 벚꽃축제        대면       120000

2   방문객수(전년)
4      51433
5      10000
6      50000
7          0
8     731051
9          0
11        27
12      3000
13     50000
14      5000
15      2000
16      2000
17       523
18      2020
19   1150000
20     39000
21      2000
22     60000
23    150000
24     70021
25       200
26      5000
27    120000

<ipython-input-91-af1d7ee666d9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  festival2['방문객수(전년)'] = festival2['방문객수(前년)'].str.replace(',', '').str.extract(r'(\d+)').fillna(0).astype(int)

In [92]:
festival2

2,광역단체명,기초단체명,개최기간,축제명,개최방식,방문객수(前년),방문객수(전년)
4,서울,본청,11.4.~20.(예정),2022 서울빛초롱축제,오프라인,51433,51433
5,서울,강동구,22. 10. 8.~10.,제27회 강동선사문화축제,혼합형,10000,10000
6,서울,강서구,10.6.~10.9.,허준축제,대면,50000명,50000
7,서울,구로구,9.30~10.2,2022 구로G페스티벌,혼합형,0,0
8,서울,노원구,10.7.~10.23.,노원달빛산책,대면,731051명,731051
9,서울,노원구,9.10.~9.11.,수제맥주축제,대면,-,0
11,서울,서초구,9.19.~9.25.,2022 서리풀페스티벌,ㅇ대면,27만(2019년),27
12,서울,성동구,9~10월중(1일),태조이성계축제,혼합형,3000명('19년),3000
13,서울,성동구,3~4월(3일간),응봉산개나리축제,혼합형,50000명('19년),50000
14,서울,성동구,6월 중(미정),두모포 페스티벌,혼합형,5000명('19년),5000
15,서울,성동구,9월 중(미정),세계민속춤 축제,혼합형,2000명('19년),2000
16,서울,양천구,9~10월,해우리 문화축제,대면,2000,2000
17,서울,영등포구,3월말~4월초 중,제17회 영등포 여의도 봄꽃축제,혼합형,523,523
18,서울,용산구,10월중,2022 이태원 지구촌 축제,대면 / 혼합형,2020 \n미개최,2020
19,서울,중랑구,5월중,2022 서울장미축제,혼합형,1150000,1150000
20,서울,중랑구,10월중,2022 용마폭포문화예술축제,혼합형,39000,39000
21,서울,중랑구,4월/10월중,북페스티벌,혼합형,2000,2000
22,서울,도봉구,7월 중,도봉과학축제,대면,60000,60000
23,서울,도봉구,9월~10월,도봉구 등 축제,대면,150000,150000
24,서울,도봉구,9.24.~25.,도봉산 페스티벌,혼합형,70021,70021
25,서울,도봉구,4.10 / 10.5,도봉서원 선비문화제,대면,200,200
26,서울,도봉구,5월 중,도봉옛길 문화제,혼합형,5000,5000
27,서울,도봉구,4월 중,창2동 에코! 벚꽃축제,대면,120000,120000

In [93]:
#방문객수가 많은 것부터 내림차순으로 정리

festival2= festival2.sort_values(by='방문객수(전년)', ascending=False)
festival2

2,광역단체명,기초단체명,개최기간,축제명,개최방식,방문객수(前년),방문객수(전년)
19,서울,중랑구,5월중,2022 서울장미축제,혼합형,1150000,1150000
8,서울,노원구,10.7.~10.23.,노원달빛산책,대면,731051명,731051
23,서울,도봉구,9월~10월,도봉구 등 축제,대면,150000,150000
27,서울,도봉구,4월 중,창2동 에코! 벚꽃축제,대면,120000,120000
24,서울,도봉구,9.24.~25.,도봉산 페스티벌,혼합형,70021,70021
22,서울,도봉구,7월 중,도봉과학축제,대면,60000,60000
4,서울,본청,11.4.~20.(예정),2022 서울빛초롱축제,오프라인,51433,51433
13,서울,성동구,3~4월(3일간),응봉산개나리축제,혼합형,50000명('19년),50000
6,서울,강서구,10.6.~10.9.,허준축제,대면,50000명,50000
20,서울,중랑구,10월중,2022 용마폭포문화예술축제,혼합형,39000,39000
5,서울,강동구,22. 10. 8.~10.,제27회 강동선사문화축제,혼합형,10000,10000
14,서울,성동구,6월 중(미정),두모포 페스티벌,혼합형,5000명('19년),5000
26,서울,도봉구,5월 중,도봉옛길 문화제,혼합형,5000,5000
12,서울,성동구,9~10월중(1일),태조이성계축제,혼합형,3000명('19년),3000
18,서울,용산구,10월중,2022 이태원 지구촌 축제,대면 / 혼합형,2020 \n미개최,2020
15,서울,성동구,9월 중(미정),세계민속춤 축제,혼합형,2000명('19년),2000
21,서울,중랑구,4월/10월중,북페스티벌,혼합형,2000,2000
16,서울,양천구,9~10월,해우리 문화축제,대면,2000,2000
17,서울,영등포구,3월말~4월초 중,제17회 영등포 여의도 봄꽃축제,혼합형,523,523
25,서울,도봉구,4.10 / 10.5,도봉서원 선비문화제,대면,200,200
11,서울,서초구,9.19.~9.25.,2022 서리풀페스티벌,ㅇ대면,27만(2019년),27
9,서울,노원구,9.10.~9.11.,수제맥주축제,대면,-,0
7,서울,구로구,9.30~10.2,2022 구로G페스티벌,혼합형,0,0

In [67]:
# 2022 서울교통공사 승하차인원 정보
subway = pd.read_csv('/content/drive/MyDrive/python/2022_subway station.csv', encoding='EUC-KR')
subway

<ipython-input-67-98c534afa6ea>:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  subway = pd.read_csv('/content/drive/MyDrive/python/2022_subway station.csv', encoding='EUC-KR')

,연번,수송일자,호선,고유역번호(외부역코드),역명,승하차구분,06시이전,06-07시간대,07-08시간대,08-09시간대,...,15-16시간대,16-17시간대,17-18시간대,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,24시이후
0,1,2022-01-01,1,150,서울역,승차,120,137,211,439,...,1566,1686,1591,1358,1062,899,1327,814,234,NaN
1,2,2022-01-01,1,150,서울역,하차,113,560,617,910,...,1329,1251,1126,884,764,654,728,416,131,NaN
2,3,2022-01-01,1,151,시청,승차,38,66,101,139,...,474,550,672,528,420,434,491,232,38,NaN
3,4,2022-01-01,1,151,시청,하차,31,195,224,380,...,408,377,354,213,131,98,137,61,24,NaN
4,5,2022-01-01,1,152,종각,승차,44,71,86,158,...,889,964,1024,803,855,1099,1209,255,62,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199075,199076,2022-12-31,8,2826,수진,하차,16,81,64,104,...,287,235,250,196,210,162,252,233,114,46.0
199076,199077,2022-12-31,8,2827,모란,승차,66,68,93,121,...,293,263,273,222,144,156,118,117,56,6.0
199077,199078,2022-12-31,8,2827,모란,하차,13,104,62,131,...,250,264,270,213,207,169,220,223,129,106.0
199078,199079,2022-12-31,8,2828,남위례,승차,23,60,86,150,...,262,260,248,220,134,157,167,151,73,14.0
199079,199080,2022-12-31,8,2828,남위례,하차,22,68,77,149,...,297,323,298,265,240,175,196,178,118,41.0

In [68]:
# 데이터 타입 확인하기 
df = pd.DataFrame(subway)
df.dtypes
subway.dtypes.value_counts()

int64      21
object      4
float64     1
dtype: int64

In [69]:
station = subway.역명
station.value_counts()

# 서울에 위치한 역의 개수가 244개 (csv파일상)

종로3가              2190
동대문역사문화공원(DDP)    2190
서울역               1460
노원                1460
시청                1460
                  ...
신내                  50
부평구청                 6
까치울                  6
상동                   4
부천시청                 2
Name: 역명, Length: 244, dtype: int64

In [70]:
# 하루동안의 승객수 구해서 '하루승객수'열 만들기
cols =['06시이전', '06-07시간대','07-08시간대','08-09시간대','09-10시간대','10-11시간대','11-12시간대',
       '12-13시간대','13-14시간대','14-15시간대','15-16시간대','16-17시간대','17-18시간대','18-19시간대',
       '19-20시간대','20-21시간대','21-22시간대','22-23시간대','23-24시간대','24시이후']
subway['하루승객수'] = subway.loc[:,cols].sum(axis=1) 
# 'cols에 해당하는 열의 데이터만 추출 후, 열 방향으로 합을 구함
subway.하루승객수

0         18525.0
1         17087.0
2          5660.0
3          5063.0
4         10046.0
           ...
199075     3490.0
199076     3544.0
199077     3402.0
199078     3421.0
199079     3582.0
Name: 하루승객수, Length: 199080, dtype: float64

In [71]:
# 2022년동안 일별 하루승객수가 가장 많았던 역명
(subway[["호선","역명","수송일자","승하차구분","하루승객수"]]
 .sort_values(["수송일자","하루승객수"],ascending=[True,False])
 .drop_duplicates(subset="수송일자"))

        호선        역명        수송일자 승하차구분    하루승객수
96       2      홍대입구  2022-01-01    승차  38933.0
594      2  잠실(송파구청)  2022-01-02    승차  42028.0
1150     2        강남  2022-01-03    승차  82860.0
1694     2        강남  2022-01-04    승차  85632.0
2240     2        강남  2022-01-05    승차  85545.0
...     ..       ...         ...   ...      ...
196418   2        강남  2022-12-27    승차  88894.0
196962   2        강남  2022-12-28    승차  89048.0
197496   2  잠실(송파구청)  2022-12-29    승차  88183.0
198040   2  잠실(송파구청)  2022-12-30    승차  87523.0
198633   2      홍대입구  2022-12-31    하차  82373.0

[365 rows x 5 columns]

In [72]:
# 수송일자의 시작이 몇번째 행부터 시작되는 지 파악할 수 있음
(subway[["연번","호선","역명","수송일자","승하차구분","하루승객수"]]
 .sort_values(["연번"],ascending=True)
 .drop_duplicates(subset="수송일자"))

            연번  호선   역명        수송일자 승하차구분    하루승객수
0            1   1  서울역  2022-01-01    승차  18525.0
544        545   1  서울역  2022-01-02    승차  26585.0
1088      1089   1  서울역  2022-01-03    승차  40573.0
1632      1633   1  서울역  2022-01-04    승차  39221.0
2178      2179   1  서울역  2022-01-05    승차  38862.0
...        ...  ..  ...         ...   ...      ...
196356  196357   1  서울역  2022-12-27    승차  52892.0
196900  196901   1  서울역  2022-12-28    승차  53672.0
197446  197447   1  서울역  2022-12-29    승차  53037.0
197990  197991   1  서울역  2022-12-30    승차  54002.0
198536  198537   1  서울역  2022-12-31    승차  36581.0

[365 rows x 6 columns]

In [73]:
# 원하는 날짜의 시작과 다음 날짜의 시작 전까지 범위를 설정해서 값을 새로 생성
# 만약 수송일자가 2022-01-01 일때, 승객 수가 많았던 역 순위

festival_date = subway.iloc[0:544]
festival_date

,연번,수송일자,호선,고유역번호(외부역코드),역명,승하차구분,06시이전,06-07시간대,07-08시간대,08-09시간대,...,16-17시간대,17-18시간대,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,24시이후,하루승객수
0,1,2022-01-01,1,150,서울역,승차,120,137,211,439,...,1686,1591,1358,1062,899,1327,814,234,NaN,18525.0
1,2,2022-01-01,1,150,서울역,하차,113,560,617,910,...,1251,1126,884,764,654,728,416,131,NaN,17087.0
2,3,2022-01-01,1,151,시청,승차,38,66,101,139,...,550,672,528,420,434,491,232,38,NaN,5660.0
3,4,2022-01-01,1,151,시청,하차,31,195,224,380,...,377,354,213,131,98,137,61,24,NaN,5063.0
4,5,2022-01-01,1,152,종각,승차,44,71,86,158,...,964,1024,803,855,1099,1209,255,62,NaN,10046.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
539,540,2022-01-01,8,2826,수진,하차,8,46,28,50,...,175,160,163,163,132,226,160,73,NaN,2279.0
540,541,2022-01-01,8,2827,모란,승차,41,44,42,68,...,182,138,132,103,139,236,49,22,NaN,2244.0
541,542,2022-01-01,8,2827,모란,하차,13,58,43,60,...,174,190,156,101,73,131,92,42,NaN,1968.0
542,543,2022-01-01,8,2828,남위례,승차,11,21,26,55,...,114,139,78,42,32,86,28,7,NaN,1414.0
543,544,2022-01-01,8,2828,남위례,하차,4,25,25,36,...,133,171,148,107,87,131,84,37,NaN,1635.0

In [74]:
# festival_date(2022-01-01)에 가장 많은 승객이 이용한 전철역
(festival_date[["호선","역명","수송일자","승하차구분","하루승객수"]]
 .sort_values(["하루승객수"],ascending=False))

     호선        역명        수송일자 승하차구분    하루승객수
96    2      홍대입구  2022-01-01    승차  38933.0
97    2      홍대입구  2022-01-01    하차  38558.0
50    2  잠실(송파구청)  2022-01-01    승차  35571.0
51    2  잠실(송파구청)  2022-01-01    하차  33730.0
78    2        신림  2022-01-01    승차  29668.0
..   ..       ...         ...   ...      ...
172   3       학여울  2022-01-01    승차    483.0
236   4       남태령  2022-01-01    승차    467.0
237   4       남태령  2022-01-01    하차    404.0
113   2       도림천  2022-01-01    하차    375.0
112   2       도림천  2022-01-01    승차    359.0

[544 rows x 5 columns]

In [75]:
# 만약 2022-01-01 날짜, 서울역에 해당하는 데이터를 보려면 

festival_date_station = festival_date[subway['역명'].str.contains('서울역')]
festival_date_station

<ipython-input-75-e8b28ea57fce>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  festival_date_station = festival_date[subway['역명'].str.contains('서울역')]

,연번,수송일자,호선,고유역번호(외부역코드),역명,승하차구분,06시이전,06-07시간대,07-08시간대,08-09시간대,...,16-17시간대,17-18시간대,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,24시이후,하루승객수
0,1,2022-01-01,1,150,서울역,승차,120,137,211,439,...,1686,1591,1358,1062,899,1327,814,234,NaN,18525.0
1,2,2022-01-01,1,150,서울역,하차,113,560,617,910,...,1251,1126,884,764,654,728,416,131,NaN,17087.0
220,221,2022-01-01,4,426,서울역,승차,74,71,85,105,...,237,265,223,126,142,173,94,47,NaN,3179.0
221,222,2022-01-01,4,426,서울역,하차,19,189,249,293,...,504,517,433,388,339,420,205,79,NaN,6737.0

In [76]:
# 서울역을 가장 많은 승객들이 이용한 시간대는?
qs = (
    "수송일자 == '2022-01-01'"
    "and 역명 == '서울역'"
)
emp_filtered = subway.query(qs)
emp_filtered.sum(axis=0)

연번                                                   446
수송일자            2022-01-012022-01-012022-01-012022-01-01
호선                                                    10
고유역번호(외부역코드)                                        1152
역명                                          서울역서울역서울역서울역
승하차구분                                           승차하차승차하차
06시이전                                                326
06-07시간대                                             957
07-08시간대                                            1162
08-09시간대                                            1747
09-10시간대                                            2430
10-11시간대                                            2728
11-12시간대                                            2867
12-13시간대                                            3827
13-14시간대                                            3459
14-15시간대                                            3317
15-16시간대                                            3591
16-17시간대                                            3678
17-18시간대                                            3499
18-19시간대                                            2898
19-20시간대                                            2340
20-21시간대                                            2034
21-22시간대                                            2648
22-23시간대                                            1529
23-24시간대                                             491
24시이후                                                0.0
하루승객수                                            45528.0
dtype: object

위에서 기본적으로 분석한 데이터를 합침

In [94]:
#방문객수가 많은 것부터 내림차순으로 정리

festival2= festival2.sort_values(by='방문객수(전년)', ascending=False)
festival2

2,광역단체명,기초단체명,개최기간,축제명,개최방식,방문객수(前년),방문객수(전년)
19,서울,중랑구,5월중,2022 서울장미축제,혼합형,1150000,1150000
8,서울,노원구,10.7.~10.23.,노원달빛산책,대면,731051명,731051
23,서울,도봉구,9월~10월,도봉구 등 축제,대면,150000,150000
27,서울,도봉구,4월 중,창2동 에코! 벚꽃축제,대면,120000,120000
24,서울,도봉구,9.24.~25.,도봉산 페스티벌,혼합형,70021,70021
22,서울,도봉구,7월 중,도봉과학축제,대면,60000,60000
4,서울,본청,11.4.~20.(예정),2022 서울빛초롱축제,오프라인,51433,51433
13,서울,성동구,3~4월(3일간),응봉산개나리축제,혼합형,50000명('19년),50000
6,서울,강서구,10.6.~10.9.,허준축제,대면,50000명,50000
20,서울,중랑구,10월중,2022 용마폭포문화예술축제,혼합형,39000,39000
5,서울,강동구,22. 10. 8.~10.,제27회 강동선사문화축제,혼합형,10000,10000
26,서울,도봉구,5월 중,도봉옛길 문화제,혼합형,5000,5000
14,서울,성동구,6월 중(미정),두모포 페스티벌,혼합형,5000명('19년),5000
12,서울,성동구,9~10월중(1일),태조이성계축제,혼합형,3000명('19년),3000
18,서울,용산구,10월중,2022 이태원 지구촌 축제,대면 / 혼합형,2020 \n미개최,2020
15,서울,성동구,9월 중(미정),세계민속춤 축제,혼합형,2000명('19년),2000
21,서울,중랑구,4월/10월중,북페스티벌,혼합형,2000,2000
16,서울,양천구,9~10월,해우리 문화축제,대면,2000,2000
17,서울,영등포구,3월말~4월초 중,제17회 영등포 여의도 봄꽃축제,혼합형,523,523
25,서울,도봉구,4.10 / 10.5,도봉서원 선비문화제,대면,200,200
11,서울,서초구,9.19.~9.25.,2022 서리풀페스티벌,ㅇ대면,27만(2019년),27
9,서울,노원구,9.10.~9.11.,수제맥주축제,대면,-,0
7,서울,구로구,9.30~10.2,2022 구로G페스티벌,혼합형,0,0

In [96]:
# 2022 서울장미축제가 개최되는 기간(2022-05-02~2022-05-15) 동안의 서울 전철역 이용객 수 (5월 1달간)
festival_date = subway.iloc[65434:82346]
festival_date

,연번,수송일자,호선,고유역번호(외부역코드),역명,승하차구분,06시이전,06-07시간대,07-08시간대,08-09시간대,...,16-17시간대,17-18시간대,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,24시이후,하루승객수
65434,65435,2022-05-01,1,150,서울역,승차,184,193,328,677,...,2828,2987,2619,2648,2409,2494,1902,669,NaN,33880.0
65435,65436,2022-05-01,1,150,서울역,하차,139,655,842,1066,...,2555,2770,2626,2196,1844,1344,752,376,NaN,31237.0
65436,65437,2022-05-01,1,151,시청,승차,61,67,124,162,...,1422,1251,1257,890,861,634,387,129,NaN,11449.0
65437,65438,2022-05-01,1,151,시청,하차,77,250,336,652,...,534,506,351,251,211,167,88,114,NaN,13167.0
65438,65439,2022-05-01,1,152,종각,승차,211,120,115,203,...,2360,2690,2638,1989,1983,1874,1145,475,NaN,22293.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82341,82342,2022-05-31,8,2826,수진,하차,27,82,154,452,...,388,427,590,469,347,254,226,256,NaN,5256.0
82342,82343,2022-05-31,8,2827,모란,승차,83,131,376,525,...,410,412,430,276,209,162,188,99,NaN,4931.0
82343,82344,2022-05-31,8,2827,모란,하차,23,122,218,469,...,252,352,451,357,192,146,109,159,NaN,4109.0
82344,82345,2022-05-31,8,2828,남위례,승차,47,203,759,857,...,416,490,617,251,180,210,162,72,NaN,5956.0
82345,82346,2022-05-31,8,2828,남위례,하차,23,100,234,864,...,373,485,753,703,309,285,316,283,NaN,6216.0

In [97]:
# festival_date(5월 한달동안)에 가장 많은 승객이 이용한 전철역
(festival_date[["호선","역명","수송일자","승하차구분","하루승객수"]]
 .sort_values(["하루승객수"],ascending=False))

       호선        역명        수송일자 승하차구분    하루승객수
75861   2        강남  2022-05-20    하차  98528.0
72041   2        강남  2022-05-13    하차  98411.0
79681   2        강남  2022-05-27    하차  98021.0
68210   2  잠실(송파구청)  2022-05-06    승차  97403.0
67135   2        강남  2022-05-04    하차  96507.0
...    ..       ...         ...   ...      ...
77037   3       충무로  2022-05-22    하차      0.0
77582   3       충무로  2022-05-23    승차      0.0
76491   3       충무로  2022-05-21    하차      0.0
71576   3       충무로  2022-05-12    승차      0.0
79763   3       충무로  2022-05-27    하차      0.0

[16912 rows x 5 columns]

In [123]:
# 2022 장미축제가 열리는 근처 역인 '석계역' 이용객 수 (2022-05-02 : 장미축제 개최기간)
qs = (
    "수송일자 == '2022-05-02'"
    "and 역명 == '석계'"
)
emp_filtered = subway.query(qs)
emp_filtered.sum(axis=0)

연번                            132803
수송일자            2022-05-022022-05-02
호선                                12
고유역번호(외부역코드)                    5290
역명                              석계석계
승하차구분                           승차하차
06시이전                            446
06-07시간대                        1051
07-08시간대                        2605
08-09시간대                        2915
09-10시간대                        1490
10-11시간대                        1100
11-12시간대                        1070
12-13시간대                        1055
13-14시간대                        1215
14-15시간대                        1111
15-16시간대                        1241
16-17시간대                        1524
17-18시간대                        1688
18-19시간대                        2656
19-20시간대                        2258
20-21시간대                        1218
21-22시간대                        1020
22-23시간대                         918
23-24시간대                         587
24시이후                            0.0
하루승객수                        27168.0
dtype: object

In [125]:
# 축제가 끝난 기간인 2022-06-01의 석계역 이용객 수 
s = (
    "수송일자 == '2022-06-01'"
    "and 역명 == '석계'"
)
emp_filtered = subway.query(qs)
emp_filtered.sum(axis=0)

연번                            165531
수송일자            2022-06-012022-06-01
호선                                12
고유역번호(외부역코드)                    5290
역명                              석계석계
승하차구분                           승차하차
06시이전                            330
06-07시간대                         529
07-08시간대                         535
08-09시간대                         868
09-10시간대                         919
10-11시간대                         967
11-12시간대                         934
12-13시간대                         985
13-14시간대                        1006
14-15시간대                         947
15-16시간대                        1051
16-17시간대                        1128
17-18시간대                        1191
18-19시간대                        1073
19-20시간대                         946
20-21시간대                         842
21-22시간대                         765
22-23시간대                         666
23-24시간대                         452
24시이후                           66.0
하루승객수                        16200.0
dtype: object